<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Brandfour HTML Test Site - Good Luck!</title>
        <script src="https://use.typekit.net/bde5plg.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="scripts/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="site-assets/assets/css/stylesheets/style.css">
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-2 col-lg-3">
                        <a href='#'><img src="site-assets/assets/img/logo.svg" class="logo-holder" alt="Site Logo"></a>
                    </div>
                    <div class="col-10 col-lg-9">
                        <div class="menu-holder">
                            <div class="menu-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <ul class="float-right main-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li class="hasDropdown">
                                <a href="#">Enterprise Park</a>
                                <ul>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">Two</a></li>
                                    <li><a href="#">Three</a></li>
                                    <li><a href="#">Four</a></li>
                                    <li><a href="#">Five</a></li>
                                    <li><a href="#">Six</a></li>
                                    <li><a href="#">Seven</a></li>
                                </ul>
                            </li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='mob-nav-holder'>
                <ul>
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li class="hasDropdown">
                    <a href="#">Enterprise Park</a>
                    <ul>
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                        <li><a href="#">Four</a></li>
                        <li><a href="#">Five</a></li>
                        <li><a href="#">Six</a></li>
                        <li><a href="#">Seven</a></li>
                    </ul>
                  </li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>

        <header>
            <div class="slide" style="background:url('site-assets/assets/img/header-bg.png')no-repeat bottom center;background-size:cover;">
                <div class="overlay"></div>
                <div class="container d-flex h-100">
                    <div class="row justify-content-center align-self-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-sm-10 col-md-8">
                                    <h1>Helping develop new and established local businesses</h1>
                                    <p>Lincoln Enterprise Park is the perfect location for new or established businesses</p>
                                    <a href="#" class="btn green">See why</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Site Code Here -->

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/slick-carousel/slick/slick.min.js"></script>
    <script src="site-assets/assets/js/front-min.js"></script>
</html>
