<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Brandfour HTML Test Site - Good Luck!</title>
        <script src="https://use.typekit.net/bde5plg.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="scripts/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="site-assets/assets/css/stylesheets/style.css">
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-2 col-lg-3">
                        <a href='#'><img src="site-assets/assets/img/logo.svg" class="logo-holder" alt="Site Logo"></a>
                    </div>
                    <div class="col-10 col-lg-9">
                        <div class="menu-holder">
                            <div class="menu-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <ul class="float-right main-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li class="hasDropdown">
                                <a href="#">Enterprise Park</a>
                                <ul>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">Two</a></li>
                                    <li><a href="#">Three</a></li>
                                    <li><a href="#">Four</a></li>
                                    <li><a href="#">Five</a></li>
                                    <li><a href="#">Six</a></li>
                                    <li><a href="#">Seven</a></li>
                                </ul>
                            </li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='mob-nav-holder'>
                <ul>
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li class="hasDropdown">
                    <a href="#">Enterprise Park</a>
                    <ul>
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                        <li><a href="#">Four</a></li>
                        <li><a href="#">Five</a></li>
                        <li><a href="#">Six</a></li>
                        <li><a href="#">Seven</a></li>
                    </ul>
                  </li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>

        <header>
            <div class="slide" style="background:url('site-assets/assets/img/header-bg.png')no-repeat bottom center;background-size:cover;">
                <div class="overlay"></div>
                <div class="container d-flex h-100">
                    <div class="row justify-content-center align-self-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-sm-10 col-md-8">
                                    <h1>Helping develop new and established local businesses</h1>
                                    <p>Lincoln Enterprise Park is the perfect location for new or established businesses</p>
                                    <a href="#" class="btn green">See why</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class='row'>
                <div class='col-12 col-md-7'>
                    <div class='text-block'>
                        <h1>Enterprise Park</h1>
                        <h2>Locating your business at Lincoln Enterprise makes perfect sense</h2>
                        <p>With easy access to both local and national road and rail infrastructures, extensive car parking facilities coupled with practical and flexible floor space it is easy to see why so many businesses have moved to be located in the park.</p>
                        <div class='row'>
                            <div class='col-12 col-sm-6'>
                                <a href="#" class="btn green">Find out more</a>
                            </div>
                            <div class='col-12 col-sm-6'>
                                <a href="#" class="btn white">Enquire</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='image-block col-12 col-md-5 order-md-1'  style="background:url('site-assets/assets/img/building.jpg')no-repeat bottom center;background-size:cover;">
                </div>
            </div>
        </section>

        <section class='dark-background'>
            <div class='container'>
                <div class= 'row'>
                    <div class='col-12'>
                        <h1>Benefits of Enterprise Park</h1>
                        <div class='row benefits'>
                            <div class='col-12 col-md-4 benefit-container'>
                                <div class='benefit'>
                                    <img src='site-assets/assets/img/location_icon.svg' alt='Location'></img>
                                    <h2>Location</h2>
                                    <p>Only 8 miles from Lincoln, and 13 miles from Newark</p>
                                </div>
                            </div>
                            <div class='col-12 col-md-4 benefit-container'>
                                <div class='benefit'>
                                    <img src='site-assets/assets/img/parking.svg' alt='Parking'></img>
                                    <h2>Car Parking</h2>
                                    <p>Extensive and secure on-site car parking</p>
                                </div>
                            </div>
                            <div class='col-12 col-md-4 benefit-container'>
                                <div class='benefit'>
                                    <img src='site-assets/assets/img/security_icon.svg' alt='Security'></img>
                                    <h2>Security</h2>
                                    <p>On-site security and 24 hour CCTV</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class='row'>
                <div class='col-12 col-md-7 order-md-12'>
                    <div class='text-block'>
                        <h1>LEP Development</h1>
                        <h2>We aim to develop potential new investments and careers</h2>
                        <p>Our new development aims to create the potential for new investment and new jobs in the future, with focus on contributing to the local economy, attracting investment, encouraging business growth, and providing employent opportunities for local people.</p>
                        <div class='row'>
                            <div class='col-12 col-sm-6'>
                                <a href="#" class="btn green">Find out more</a>
                            </div>
                            <div class='col-12 col-sm-6'>
                                <a href="#" class="btn white">Enquire</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='image-block col-12 col-md-5'  style="background:url('site-assets/assets/img/loading_bay.jpg')no-repeat bottom center;background-size:cover;">
                </div>
            </div>
        </section>

        <section class='twitter-feed'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12 col-centered'>
                        <img src='site-assets/assets/img/green_twitter.svg'></img>
                        <div class='tweet-slide'>
                            <div>
                                <h3><a href='https://twitter.com/lepdevelop'>@lepdevelop</a> Tweet number one.</h3>
                                <p>10 minutes ago</p>
                                <row class='tweet-actions row col-centered'>
                                    <div class='tw-act'><img class='act-img' src='site-assets/assets/img/twitter_heart_icon.svg'></img><span> 12</span></div>
                                    <div class='tw-act'><img class='act-img' src='site-assets/assets/img/twitter_retweet_icon.svg'></img><span> 10</span></div>
                                    <div class='tw-act'><img class='act-img' src='site-assets/assets/img/twitter_arrow_icon.svg'></img><span> 7</span></div>
                                </row>
                            </div>
                            <div>
                                <h3><a href='https://twitter.com/lepdevelop'>@lepdevelop</a> Tweet number two.</h3>
                                <p>15 minutes ago</p>
                                <row class='tweet-actions row col-centered'>
                                    <div class='tw-act'><img class='act-img' src='site-assets/assets/img/twitter_heart_icon.svg'></img><span> 7</span></div>
                                    <div class='tw-act'><img class='act-img' src='site-assets/assets/img/twitter_retweet_icon.svg'></img><span> 4</span></div>
                                    <div class='tw-act'><img class='act-img' src='site-assets/assets/img/twitter_arrow_icon.svg'></img><span> 2</span></div>
                                </row>
                            </div>
                            <div>
                                <h3><a href='https://twitter.com/lepdevelop'>@lepdevelop</a> Much longer than the others tweet number three.</h3>
                                <p>20 minutes ago</p>
                                <row class='tweet-actions row col-centered'>
                                    <div class='tw-act'><img class='act-img' src='site-assets/assets/img/twitter_heart_icon.svg'></img><span> 20</span></div>
                                    <div class='tw-act'><img class='act-img' src='site-assets/assets/img/twitter_retweet_icon.svg'></img><span> 15</span></div>
                                    <div class='tw-act'><img class='act-img' src='site-assets/assets/img/twitter_arrow_icon.svg'></img><span> 9</span></div>
                                </row>
                            </div>
                        </div>
                        <div class='slider-arrows d-none d-md-block'></div>
                    </div>
                </div>
        </section>

        <section class='news-items'>
            <div class='container col-12 col-centered'>
                <h1>Latest News</h1>
                <div class='row news-row'>
                    <div class='col-12 col-md-4 news-item'>
                        <h4>December 2015 PHASE 4 completion</h4>
                        <h6>December 15th 2015</h6>
                        <p>Simus oculto nes ne noruntem pris pri consusate vil videm is occia vehenatur popondierum is mum auci publi, tem rei senat.</p>
                        <div class='news-link'>
                            <a href="#" class="btn green">Full Article</a>
                        </div>
                    </div>
                    <div class='col-12 col-md-4 news-item'>
                        <h4>Success of all PHASE 5 units sold</h4>
                        <h6>December 13th 2015</h6>
                        <p>Simus oculto nes ne noruntem pris pri consusate vil videm is occia vehenatur popondierum is mum auci publi, tem rei senat.</p>
                        <div class='news-link'>
                            <a href="#" class="btn green">Full Article</a>
                        </div>
                    </div>
                    <div class='col-12 col-md-4 news-item'>
                        <h4>October 2015 PHASE 4 Continues</h4>
                        <h6>October 15th 2016</h6>
                        <p>Simus oculto nes ne noruntem pris pri consusate vil videm is occia vehenatur popondierum is mum auci publi, tem rei senat.</p>
                        <div class='news-link'>
                            <a href="#" class="btn green">Full Article</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <footer class='dark-background'>
            <div class='container'>
                <div class='row footer-content'>
                    <div class='col-12 col-md-4'>
                        <a href='#'><img src="site-assets/assets/img/logo.svg" class="logo-holder" alt="Site Logo"></a>
                    </div>
                    <div class='col-12 col-sm-6 col-md-2 hasDropdown'>
                        <h5>Enterprise Park</h5>
                        <ul>
                            <li><a href="#">Phase 1</a></li>
                            <li><a href="#">Phase 2</a></li>
                            <li><a href="#">Phase 3</a></li>
                            <li><a href="#">Phase 4</a></li>
                            <li><a href="#">Phase 5</a></li>
                            <li><a href="#">Phase 6</a></li>
                        </ul>
                    </div>
                    <div class='col-12 col-sm-6 col-md-2 hasDropdown'>
                        <h5>About LEP</h5>
                        <ul>
                            <li><a href="#">History</a></li>
                            <li><a href="#">Businesses</a></li>
                            <li><a href="#">Location</a></li>
                        </ul>
                    </div>
                    <div class='col-12 col-sm-6 col-md-2 hasDropdown'>
                        <h5>LEP Developments</h5>
                        <ul>
                           <li><a href="#">Overview</a></li>
                           <li><a href="#">Units</a></li>
                           <li><a href="#">Downloads</a></li>
                           <li><a href="#">Phase 4</a></li>
                           <li><a href="#">Phase 5</a></li>
                           <li><a href="#">Phase 6</a></li>
                       </ul>
                    </div>
                    <div class='col-12 col-sm-6 col-md-2 hasDropdown'>
                        <h5>News</h5>
                    </div>

                </div>
            </div>
            <hr>
            <div class='container'>
                <div class="row copyright">
                    <div class="col-12 col-md-4 copright-element">
                       <small>&copy; Copyright Lincoln Enterprise Park 2008-2018</small>
                    </div>
                    <div class="col-12 col-md-2 copyright-element">
                        <a href='#'>Disclaimer</a>
                        <a href='#'>Terms & Conditions</a>
                    </div>
                    <div class="col-12 col-md-2 copyright-element">
                        <p>Thorpe Grange, Newark Rd, Lincoln, Lincolnshire</p>
                    </div>
                    <div class="col-12 col-md-2 copyright-element">
                        <a href="tel:01522501406">01522 501 406</a>
                        <a href="mailto:info@lincolnep.co.uk">info@lincolnep.co.uk</a>
                    </div>
                    <div class="col-12 col-md-2 copyright-element">
                        <li><a href="https://twitter.com/lepdevelop" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    </div>
                </div>
            </div>
        </footer>


    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/slick-carousel/slick/slick.min.js"></script>
    <script src="site-assets/assets/js/front-min.js"></script>
</html>
